/* desktop */
@media (min-width:1024px){

}

/* tablet */
@media (min-width:740px) and (max-width:1023px){
    #content .layout-item img{
        width: 350px;
        max-width: 100%;
    }
    #content .u-text-1{
        font-size: 2rem;
    }
    #content .detail-row{
        display: block;
    }
    #content .detail-row-1{
        margin-left: 4%;
    }
    #content .personal-img img{
        width: 190px;
        height: auto;
        bottom: -33%;
    }
    #content .u-image-1{
        height: 388px;
    }
}

/* mobile */
@media (max-width: 740px){
    #nav {
        width: 100%;
        position: relative;
        top: 100%;
        background-color: #37384c;
        height: 181px;
        left: -100%;
        transition: all 0.3s ease;
    }
    #nav >li {
        display: block;
        border-bottom: 1px solid #aba7a7;
    }
    #nav >li:last-child {
      
        border-bottom: none;
    }
    #nav li a {
        padding: 0px 30px;     
    }
    #nav .subnav{
        width: 100%;
        top: 99%;
        box-shadow: 0 0 3px rgb(5 4 4 / 50%);
        background-color: #424356;
    }
    #nav .subnav a {
        padding: 5px 40px;
       
    }
    .menuMobileOpen{
        left: -17% !important;
    }
    #content .personal{
        padding-top: 50%;
    }
    #content .layout-list{
        display: block;
    }
    #content .layout-item img {
     
        max-width: 100%;
    }
    #detail{
        display: none;
    }
}
