*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    
}

#header{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: #1f203a;
    z-index: 1000;
   
}
#logo{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo .logo-image{
    width: 30px;
}

#nav, .subnav{
    list-style-type: none;
}

#nav >li{
    display: inline-block;
}

#nav li{
    position: relative;
   
}

#nav >li> a{
    text-transform: uppercase;
   
}

#nav li a{
    color: white;
    text-decoration: none;
    line-height: 60px;
    padding: 0 20px;
    display: block;
    transition: all .4s;
}

#nav li:hover .subnav{
    display: block;
}

#nav >li:hover >a,
#nav .subnav LI:hover a{
    color: #000;
    background-color: rgb(190, 180, 238);
    
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    background-color:  #1f203a;
    box-shadow: 0 0 10px rgba(5, 4, 4, 0.5);
}

#nav .subnav a{
    padding: 0 14px;
    line-height: 40px;
}

#header #menu-btn{
    position: absolute;
    right: 0;
    width: 70px;
    cursor: pointer;
  
}
#menu-btn .menu-icon{
    font-size: 18px;
    color: white;
    display: flex;
    line-height: 60px;
    justify-content: center;
}

#content{
    margin-top: 60px;
}
#content .personal{
    position: relative;
    padding-top: 20%;
    /* background: linear-gradient(0, rgba(0,255,255, 0.5),rgba(255,255,0,0.5)); */
    background-color: #f2f2f2;
}

#content  .personal-img{
    position: absolute;
    bottom: -15%;
    left: 50%;
    width: 238px;
    height: 238px;
    transform: translateX(-50%);
    background-image: url(/assets/images/hieu.jpg);
    background-repeat: no-repeat;
    border-radius: 50%;
    border:7px solid rgb(255, 255, 255);
   
}
#content .information{
    width: 550px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .text-header{
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    letter-spacing: 4px;
}
#content .text-description{
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.4;
} 
#content .u-text{
    text-align: center;
    margin-top: 20px;
    border-width: 2px;
    border-bottom: 1px solid #000;
}

#content .layout-list{
    display: flex;
    justify-content: space-around;
    width: 1040px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .layout-item img{
    width: 455px;
}
#content .u-text-1{
    margin: 15px 0;
    font-size: 3rem;
    font-weight: 300;
}
#content .auto-input{
    font-weight: 500;
}
/* #information{
    position: relative;
    margin-top: 7%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#information .text-header{
    font-weight: 500;
    font-size: 32px;
}
#footer{
    
}